.questionr {
  font-family: arial, sans-serif;
  color: #a69f8c;
}
.questionr .innerWrapper {
  position: absolute;
  background: #4f4539;
  border-radius: 0.5em;
  z-index: 2;
  box-shadow: 0 0 0.5em black;
}
.questionr .innerWrapper.bottom {
  bottom: 0;
  left: 10em;
  border-radius: 0.5em 0.5em 0 0;
}
.questionr .innerWrapper.top {
  top: 0;
  right: 10em;
  border-radius: 0 0 0.5em 0.5em;
}
.questionr .innerWrapper.left {
  left: 0;
  bottom: 10em;
  border-radius: 0 0.5em 0.5em 0;
}
.questionr .innerWrapper.right {
  right: 0;
  bottom: 10em;
  border-radius: 0.5em 0 0 0.5em;
}
.questionr .innerWrapper .questionWrapper {
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
}
.questionr .innerWrapper .questionWrapper .answersWrapper {
  font-size: 0.8em;
  margin: 2em;
}
.questionr .innerWrapper .questionWrapper .answersWrapper .answerButtonWrapper {
  color: #4f4539;
  display: inline;
  padding: 1em 3em;
  background: #dcd3ca;
  border-radius: 0;
  border-right: 1px solid #c8b9ab;
  border-left: 1px solid #f0ece9;
  font-weight: bold;
}
.questionr .innerWrapper .questionWrapper .answersWrapper .answerButtonWrapper:hover {
  background: #f0ece9;
  cursor: pointer;
}
.questionr .innerWrapper .questionWrapper .answersWrapper .answerButtonWrapper:first-child {
  border-radius: 0.25em 0 0 0.25em;
  border-left: none;
}
.questionr .innerWrapper .questionWrapper .answersWrapper .answerButtonWrapper:last-child {
  border-radius: 0 0.25em 0.25em 0;
  border-right: none;
}
