@import "theme.less";

.questionr{
    font-family: @questionrFont;
    color: @questionColor;
    .innerWrapper{
        position: absolute;
        background: @brandBackground;
        border-radius: @borderRadius;
        z-index: 2;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 1);
        &.bottom{
            bottom: 0;    
            left: 10em;
            border-radius: @borderRadius @borderRadius 0 0;
        }
        &.top{
            top: 0;
            right: 10em;
            border-radius: 0 0 @borderRadius @borderRadius;
        }
        &.left{
            left: 0;
            bottom: 10em;
            border-radius: 0 @borderRadius @borderRadius 0 ;
        }
        &.right{
            right: 0;
            bottom: 10em;
            border-radius: @borderRadius 0 0 @borderRadius;
        }
        .questionWrapper{
            text-align: center;
            font-size: 1em;
            padding: 0.5em;
            .answersWrapper{
                font-size: 0.8em;
                margin: 2em;
                .answerButtonWrapper{
                    color: @buttonTextColor;
                    display: inline;
                    padding: 1em 3em;
                    background: @brandMain;
                    border-radius: 0;
                    border-right: 1px solid darken(@brandMain, 10);
                    border-left: 1px solid lighten(@brandMain, 10);
                    font-weight: bold;
                    &:hover{
                        background: lighten(@brandMain, 10);
                        cursor: pointer;
                    }
                    &:first-child{
                        border-radius: @borderRadius / 2 0 0 @borderRadius / 2;
                        border-left: none;
                    }
                    &:last-child{
                        border-radius: 0 @borderRadius / 2 @borderRadius / 2 0;
                        border-right: none;   
                    }
                }
            }
        }
    }
}